Client/xml-resources/web-service-references/CalculatorWebService/wsdl/localhost_8080/CalculatorWebServices/CalculatorWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://calculatorwebservice/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://calculatorwebservice/">

<xs:element name="AddIntegers" type="tns:AddIntegers"/>

<xs:element name="AddIntegersResponse" type="tns:AddIntegersResponse"/>

<xs:element name="divIntegers" type="tns:divIntegers"/>

<xs:element name="divIntegersResponse" type="tns:divIntegersResponse"/>

<xs:element name="mulIntegers" type="tns:mulIntegers"/>

<xs:element name="mulIntegersResponse" type="tns:mulIntegersResponse"/>

<xs:element name="subIntegers" type="tns:subIntegers"/>

<xs:element name="subIntegersResponse" type="tns:subIntegersResponse"/>

<xs:complexType name="AddIntegers">
<xs:sequence>
<xs:element name="firstNum" type="xs:double"/>
<xs:element name="secondNum" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AddIntegersResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="divIntegers">
<xs:sequence>
<xs:element name="firstNum" type="xs:double"/>
<xs:element name="secondNum" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="divIntegersResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="subIntegers">
<xs:sequence>
<xs:element name="firstNum" type="xs:double"/>
<xs:element name="secondNum" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="subIntegersResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="mulIntegers">
<xs:sequence>
<xs:element name="firstNum" type="xs:double"/>
<xs:element name="secondNum" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="mulIntegersResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>
</xs:schema>