Client/xml-resources/web-service-references/CalculatorWebService/wsdl/localhost_8080/CalculatorWebServices/CalculatorWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://calculatorwebservice/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://calculatorwebservice/" name="CalculatorWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://calculatorwebservice/" schemaLocation="http://localhost:8080/CalculatorWebServices/CalculatorWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="AddIntegers">
<part name="parameters" element="tns:AddIntegers"/>
</message>
<message name="AddIntegersResponse">
<part name="parameters" element="tns:AddIntegersResponse"/>
</message>
<message name="subIntegers">
<part name="parameters" element="tns:subIntegers"/>
</message>
<message name="subIntegersResponse">
<part name="parameters" element="tns:subIntegersResponse"/>
</message>
<message name="mulIntegers">
<part name="parameters" element="tns:mulIntegers"/>
</message>
<message name="mulIntegersResponse">
<part name="parameters" element="tns:mulIntegersResponse"/>
</message>
<message name="divIntegers">
<part name="parameters" element="tns:divIntegers"/>
</message>
<message name="divIntegersResponse">
<part name="parameters" element="tns:divIntegersResponse"/>
</message>
<portType name="CalculatorWebService">
<operation name="AddIntegers">
<input wsam:Action="http://calculatorwebservice/CalculatorWebService/AddIntegersRequest" message="tns:AddIntegers"/>
<output wsam:Action="http://calculatorwebservice/CalculatorWebService/AddIntegersResponse" message="tns:AddIntegersResponse"/>
</operation>
<operation name="subIntegers">
<input wsam:Action="http://calculatorwebservice/CalculatorWebService/subIntegersRequest" message="tns:subIntegers"/>
<output wsam:Action="http://calculatorwebservice/CalculatorWebService/subIntegersResponse" message="tns:subIntegersResponse"/>
</operation>
<operation name="mulIntegers">
<input wsam:Action="http://calculatorwebservice/CalculatorWebService/mulIntegersRequest" message="tns:mulIntegers"/>
<output wsam:Action="http://calculatorwebservice/CalculatorWebService/mulIntegersResponse" message="tns:mulIntegersResponse"/>
</operation>
<operation name="divIntegers">
<input wsam:Action="http://calculatorwebservice/CalculatorWebService/divIntegersRequest" message="tns:divIntegers"/>
<output wsam:Action="http://calculatorwebservice/CalculatorWebService/divIntegersResponse" message="tns:divIntegersResponse"/>
</operation>
</portType>
<binding name="CalculatorWebServicePortBinding" type="tns:CalculatorWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="AddIntegers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="subIntegers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="mulIntegers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="divIntegers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CalculatorWebService">
<port name="CalculatorWebServicePort" binding="tns:CalculatorWebServicePortBinding">
<soap:address location="http://localhost:8080/CalculatorWebServices/CalculatorWebService"/>
</port>
</service>
</definitions>